{% extends 'main/index.html' %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block modal %}
     <div class="modal fade" id="logModal" tabindex="-1" aria-labelledby="logModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="logModalLabel">{% trans 'Войти' %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="col sm-10">
                                    {{ form.username }}
                                </div>
                            </div>
                             <div class="row mb-3">
                                <div class="col sm-10">
                                    {{ form.password }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col sm-10" id="log-error" >
                                    {{ form.non_field_errors }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <a class="btn btn-outline-success" href="{% url 'social:begin' 'google-oauth2' %}">
                                            <img id="img-google" src="{% static 'users/img/google_logo.png' %}" alt="Google sign-in">Login with Google
                                        </a>
                                    </div>
                                </div>
                                <div class="row justify-content-between buttom">
                                    <div class="col-4">
                                        <button id="btn-sign" type="submit" class="btn btn-success">{% trans 'Войти' %}</button>
                                    </div>
                                    <div class="col-4">
                                        <button id="btn-close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Закрыть' %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
     </div>
    <script type="text/javascript" src="{% static 'users/js/modal_log.js' %}"></script>
{% endblock %}
