{% extends 'main/layout.html' %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'users/css/modal.css' %}?v=1.0">
{% endblock %}

{% block change_password_modal %}
    <div class="modal fade" id="PasswordModal" tabindex="-1" aria-labelledby="PasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="PasswordModalLabel">{% trans 'Изменить пароль' %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row-1">
                            <div class="col my-sm-3">
                                {{ form.old_password }}
                            </div>
                            <div class="col errors my-sm-3">
                                {{ form.old_password.errors }}
                            </div>
                            <div class="col my-sm-3">
                                {{ form.new_password1 }}
                            </div>
                            <div class="col errors my-sm-3">
                                {{ form.new_password1.errors }}
                            </div>
                            <div class="col my-sm-3">
                                {{ form.new_password2 }}
                            </div>
                            <div class="col errors my-sm-3">
                                {{ form.new_password2.errors }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row w-100">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">{% trans 'Сохранить' %}</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-secondary btn-right" data-bs-dismiss="modal">{% trans 'Закрыть' %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'users/js/modal_change_password.js' %}"></script>
{% endblock %}
