{% extends 'main/layout.html' %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'users/css/modal.css' %}?v=1.0">
{% endblock %}

{% block modal %}
    <div class="modal fade" id="regModal" tabindex="-2" aria-labelledby="regModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post">
                {% csrf_token %}
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="regModalLabel">{% trans 'Регистрация' %}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="my-3">
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            {{ form.username.errors }}
                        </div>
                        <div class="mb-3">
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            {{ form.email.errors }}
                        </div>
                        <div class="mb-3">
                            {{ form.password1 }}
                        </div>
                        <div class="mb-3">
                            {{ form.password1.errors }}
                        </div>
                        <div class="mb-3">
                            {{ form.password2 }}
                        </div>
                        <div class="mb-3">
                            {{ form.password2.errors }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="w-100 d-flex justify-content-center">
                            <a class="btn btn-outline-success" href="{% url 'social:begin' 'google-oauth2' %}">
                                <img id="img-google" src="{% static 'users/img/google_logo.png' %}" alt="Google sign-in">Login with Google
                            </a>
                        </div>
                        <div class="w-100">
                            <button type="submit" class="btn btn-primary">{% trans 'Зарегистрироваться' %}</button>
                            <button type="button" class="btn btn-secondary btn-right" data-bs-dismiss="modal">{% trans 'Закрыть' %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'users/js/modal_reg.js' %}"></script>
{% endblock %}