{% extends 'main/layout.html' %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'virtual/css/virtual_detail.css' %}?v=1.0">
{% endblock %}

{% block content %}
    <section class="virtual-detail">
        <div class="container">
            <div class="frame">
                {% if request.user.is_authenticated %}
                    <iframe scrolling="no" src="{{ virtual_detail.field_name_log }}"></iframe>
                {% else %}
                    <iframe scrolling="no" src="{{ virtual_detail.field_name_nolog }}"></iframe>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}