{% extends 'main/layout.html' %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section class="artists">
        <div class="container">
            <div class="section-title">
                <h2>{% trans 'Художникам' %}</h2>
            </div>
            <div class="row">
                <div class="col">
                    <div id="nav-artists" class="row text-center">
                        {% if object %}
                            {% for el in object %}
                                <div class="col">
                                    <a class="nav-link rounded-pill" href="#{{ el.id }}">{{ el.title }}</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if object %}
                        {% for el in object %}
                            <div class="artists-content">
                                <h3><a class="anchor" name="{{ el.id }}"></a>{{ el.title }}</h3>
                                <p>{{ el.text | safe }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>У вас нет записей</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}