{% extends 'main/layout.html' %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section class="cap">
        <div class="container" id="cap-cont">
            <div class="row">
                <div class="col">
                    <h1 class="h1-font-large">{% trans 'Я Моне' %}</h1>
                    <h1 class="h1-font-large">{% trans 'Я Шишкин' %}</h1>
                    <h1 class="h1-font-large">{% trans 'Я Малевич' %}</h1>
                </div>
                <div id="cap-right" class="col">
                    <p>{% trans 'Мы примем на выставку от каждого художника по одному произведению при условии, что оно пройдёт во входную дверь' %}</p>
                </div>
            </div>
            <div class="row" id="cap-links">
                <div class="col">
                    <a class="nav-link" href="{% url 'artists' %}">
                        <svg id="cap-link1" class="liquid-button"
                             data-text="{% trans 'Калининград Приём работ' %}"
                             data-force-factor="0.1"
                             data-layer-1-viscosity="0.5"
                             data-layer-2-viscosity="0.4"
                             data-layer-1-mouse-force="400"
                             data-layer-2-mouse-force="500"
                             data-layer-1-force-limit="1"
                             data-layer-2-force-limit="2"
                             data-color1="#FFF500"
                             data-color2="#20D8F9"
                             data-color3="#20D8F9">
                        </svg>
                    </a>
                </div>
                <div class="col">
                    <a class="nav-link" href="{% url 'viewers' %}">
                        <svg id="cap-link2" class="liquid-button"
                             data-text="{% trans 'Калининград 20 июля - 30 сентября' %}"
                             data-force-factor="0.1"
                             data-layer-1-viscosity="0.5"
                             data-layer-2-viscosity="0.4"
                             data-layer-1-mouse-force="400"
                             data-layer-2-mouse-force="500"
                             data-layer-1-force-limit="1"
                             data-layer-2-force-limit="2"
                             data-width="300"
                             data-color1="#FFF500"
                             data-color2="#20D8F9"
                             data-color3="#20D8F9">
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box position-relative">
                        <div class="icon">
                            <i class="fas fa-palette"></i>
                        </div>
                        <a class="stretched-link" href="{% url 'artists' %}">{% trans 'Художникам' %}</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box position-relative">
                        <div class="icon">
                            <i class="far fa-eye"></i>
                        </div>
                        <a class="stretched-link" href="{% url 'viewers' %}">{% trans 'Зрителям' %}</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box position-relative">
                        <div class="icon">
                            <i class="fas fa-info-circle"></i>
                        </div>
                        <a class="stretched-link" href="{% url 'about' %}">{% trans 'О проекте' %}</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box position-relative">
                        <div class="icon">
                            <i class="fas fa-landmark"></i>
                        </div>
                        <a class="stretched-link" href="{% url 'history' %}">{% trans 'История проекта' %}</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box position-relative">
                        <div class="icon">
                            <i class="fas fa-vr-cardboard"></i>
                        </div>
                        <a class="stretched-link" href="{% url 'virtual' %}">{% trans 'Виртуальные выставки' %}</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box position-relative">
                        <div class="icon">
                            <i class="far fa-handshake"></i>
                        </div>
                        <a class="stretched-link" href="{% url 'cooperation' %}">{% trans 'Сотрудничество' %}</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box position-relative">
                        <div class="icon">
                            <i class="far fa-thumbs-up"></i>
                        </div>
                        <a class="stretched-link" href="{% url 'partners' %}">{% trans 'Партнёры' %}</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box position-relative">
                        <div class="icon">
                            <i class="fas fa-home"></i>
                        </div>
                        <a class="stretched-link" href="{% url 'home' %}">{% trans 'Главная' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 3D models -->
    <script>var path = '{% static 'main/3D/artist/scene.gltf' %}'</script>
    <script src="{% static 'main/js/model_artist.js' %}"></script>
    <!-- grid cap-links -->
    <script src="{% static 'main/js/grid.js' %}?v=1.0"></script>
{% endblock %}

