{% extends 'main/layout.html' %}
{% load static i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <section class="partners">
        <div class="container">
            <div class="section-title">
                <h2>{% trans 'Партнёры' %}</h2>
            </div>
            <div class="row">
                <div class="col">
                    {% if object %}
                        {% for el in object %}
                            <div class="partners-block">
                                {{ el.content | safe }}
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>У вас нет записей</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}