@font-face {
    font-family: 'Georgia';
    src: url('../font/georgia.ttf') format('truetype');
}

body {
    font-family: Georgia !important;
}

/* Header */

.navbar {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#nav-brand {
    color: #fff;
}

.navbar #nav-item  {
    margin-left: -1vw;
}

#nav-item .toggler {
    border: 1px solid transparent;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
}

#nav-item .dropdown-menu {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

#nav-item .nav-link {
    color: #fff;
}

.li-nav:nth-child(1) .rounded-pill:hover {
    background: #eb5959;
}

.li-nav:nth-child(2) .rounded-pill:hover {
    background: #ff903b;
}

.li-nav:nth-child(3) .rounded-pill:hover {
    background: #ffe53b;
}

.li-nav:nth-child(4) .rounded-pill:hover {
    background: #48ff3b;
}

.li-nav:nth-child(5) .rounded-pill:hover {
    background: #33f5ff;
}

.li-nav:nth-child(6) .rounded-pill:hover {
    background: #2957ff;
}

.li-nav:nth-child(7) .rounded-pill:hover {
    background: #b152ff;
}

.li-nav:nth-child(8) .rounded-pill:hover {
    background: #383838;
}

.li-nav-mob {
    list-style-type: none;
    margin-left: -7vw;
}

.navbar-dark .navbar-nav .li-nav-mob .nav-link {
    font-size: 5vw;
    color: #fff;
}

.li-nav-mob:nth-child(1) .rounded-pill:hover {
    background: #eb5959;
}

.li-nav-mob:nth-child(2) .rounded-pill:hover {
    background: #ff903b;
}

.li-nav-mob:nth-child(3) .rounded-pill:hover {
    background: #ffe53b;
}

.li-nav-mob:nth-child(4) .rounded-pill:hover {
    background: #48ff3b;
}

.li-nav-mob:nth-child(5) .rounded-pill:hover {
    background: #33f5ff;
}

.li-nav-mob:nth-child(6) .rounded-pill:hover {
    background: #2957ff;
}

.li-nav-mob:nth-child(7) .rounded-pill:hover {
    background: #b152ff;
}

.li-nav-mob:nth-child(8) .rounded-pill:hover {
    background: #383838;
}

.language {
    padding-left: 1vw;
}

.language .form-select {
    color: #0000008C;
    background-color: #fff;
    margin-top: 9px;
}

#inter-art-ex {
    font-size: 25px;
    color: #fff;
    margin-right: 30px;
}

.navbar .navbar-nav {
    padding-left: 1vw;
}

.navbar-nav .nav-item .soc {
    display: inline;
    padding: 3px;
    color: #fff;
    text-decoration: none;
}

.navbar-nav .nav-item .soc:hover {
    color: #fff;
}

.navbar-nav .nav-item svg {
    transition: transform .6s ease;
}

.navbar-nav .nav-item svg:hover {
    transform: scale(1.30);
}

#username {
    color: #fff;
}

.navbar .btn-outline-primary {
    color: #fff;
    border-color: #fff;
}

.navbar .btn-outline-primary:hover {
    color: #fff;
    background: #0d6efd;
    border-color: #0d6efd;
}

.navbar .btn-outline-success {
    color: #fff;
    border-color: #fff;
}

.navbar .btn-outline-success:hover {
    color: #fff;
    background: #198754;
    border-color: #198754;
}

.navbar .btn-outline-danger {
    color: #fff;
    border-color: #fff;
}

/* scroll-up */

.scroll-up {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}

.btn-up {
    position: absolute;
    right: 1%;
    bottom: 50px;
    width: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: #eb5959;
    padding: 4px 10px;
    font-size: 34px;
    cursor: pointer;
    display: none;
    text-align: center;

}

/* end scroll-up */


/* End Header */



/* Section Cap */

.cap {
    padding: 80px 0 30px 0;
}

#cap-left {
    letter-spacing: 8px;
    color: #eb5959;
}

#cap-left h1 {
    font-size: 6vw;
}

#cap-right p {
    font-size: 2vw;
    text-align: center;
}

/* End Section Cap */


/* Section Services*/

.services {
    padding-bottom: 20px;
}

.services .row {
    --bs-gutter-x: 0.5rem;
    --bs-gutter-y: -0.7rem;
}

.services .icon-box {
    width: 100%;
    transition: all ease-in-out 0.3s;
    background: #fff;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 30px;
}

.align-items-stretch:nth-child(1) .icon-box {
    border: 1px solid #eb5959;
    padding-bottom: 35px;
}

.align-items-stretch:nth-child(1) .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 #eb5959;
    transform: translateY(-10px);
}

.align-items-stretch:nth-child(2) .icon-box {
    border: 1px solid #ff903b;
}

.align-items-stretch:nth-child(2) .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 #ff903b;
    transform: translateY(-10px);
}

.align-items-stretch:nth-child(3) .icon-box {
    border: 1px solid #ffe53b;
}

.align-items-stretch:nth-child(3) .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 #ffe53b;
    transform: translateY(-10px);
}

.align-items-stretch:nth-child(4) .icon-box {
    border: 1px solid #48ff3b;
}

.align-items-stretch:nth-child(4) .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 #48ff3b;
    transform: translateY(-10px);
}

.align-items-stretch:nth-child(5) .icon-box {
    border: 1px solid #33f5ff;
}

.align-items-stretch:nth-child(5) .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 #33f5ff;
    transform: translateY(-10px);
}

.align-items-stretch:nth-child(6) .icon-box {
    border: 1px solid #2957ff;
    padding-bottom: 35px;
}

.align-items-stretch:nth-child(6) .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 #2957ff;
    transform: translateY(-10px);
}

.align-items-stretch:nth-child(7) .icon-box {
    border: 1px solid #b152ff;
}

.align-items-stretch:nth-child(7) .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 #b152ff;
    transform: translateY(-10px);
}

.align-items-stretch:nth-child(8) .icon-box {
    border: 1px solid #383838;
}

.align-items-stretch:nth-child(8) .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 25px 0 #383838;
    transform: translateY(-10px);
}

.services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin-bottom: 20px;
}

.align-items-stretch:nth-child(1) .icon{
        background-color: #eb5959;
}

.align-items-stretch:nth-child(2) .icon{
        background-color: #ff903b;
}

.align-items-stretch:nth-child(3) .icon{
        background-color: #ffe53b;
}

.align-items-stretch:nth-child(4) .icon{
        background-color: #48ff3b;
}

.align-items-stretch:nth-child(5) .icon{
        background-color: #33f5ff;
}

.align-items-stretch:nth-child(6) .icon{
        background-color: #2957ff;
}

.align-items-stretch:nth-child(7) .icon {
        background-color: #b152ff;
}

.align-items-stretch:nth-child(8) .icon{
        background-color: #fff;
}

.align-items-stretch .icon i {
    font-size: 30px;
}

.align-items-stretch .stretched-link {
    text-decoration: none;
    font-size: 30px;
    color: #0000008C;
    transition: transform .6s ease;
}

.align-items-stretch .stretched-link:hover {
    transform: scale(1.05);
}

.align-items-stretch:nth-child(1) .stretched-link:hover {
    color: #eb5959;
}

.align-items-stretch:nth-child(2) .stretched-link:hover {
    color: #ff903b;
}

.align-items-stretch:nth-child(3) .stretched-link:hover {
    color: #ffe53b;
}

.align-items-stretch:nth-child(4) .stretched-link:hover {
    color: #48ff3b;
}

.align-items-stretch:nth-child(5) .stretched-link:hover {
    color: #33f5ff;
}

.align-items-stretch:nth-child(6) .stretched-link:hover {
    color: #2957ff;
}

.align-items-stretch:nth-child(7) .stretched-link:hover {
    color: #b152ff;
}

.align-items-stretch:nth-child(8) .stretched-link:hover {
    color: #383838;
}


/* End Section Services */

/* Section nav-cap */

.artists {
    padding: 80px 0 30px 0;
}

#nav-artists {
    margin-top: 20px;
}

#nav-artists .nav-link {
    color: black;
    transition: transform .6s ease;
}

#nav-artists a:hover {
    color: #eb5959;
    transform: scale(1.05);
    border: 1px solid rgba(0,0,0,.15);
    background: #F8F9F9;
    margin-top: -2px;
}

.artists-content {
    margin-top: 30px;
}

.anchor {
    padding-top: 80px;
    margin-top: -80px;
}

.text-center {
    text-align: center;
}

h2 {
    text-align: center;
}


/* End Section nav-cap */

/* Section Viewers */

.viewers {
    padding: 80px 0 20px 0;
}

#nav-viewers {
    margin-top: 20px;
}

#nav-viewers .nav-link {
    color: black;
    transition: transform .6s ease;
}

#nav-viewers .nav-link:hover {
    color: #eb5959;
    transform: scale(1.05);
    border: 1px solid rgba(0,0,0,.15);
    background: #F8F9F9;
    margin-top: -2px;
}

.viewers-content {
    margin-top: 30px;
}

#map {
    left: 0;
    top: 0;
    width: 500px;
    height: 450px;
}

/* End Section Viewers */

/* Section about */

.about {
    padding: 80px 0 30px 0;
}


/* End Section about */

/* Section history */

.history {
    padding: 80px 0 20px 0;
}

/* End Section history */

/* Section history */

/* Section together */

.together {
    padding: 80px 0 124px 0;
}

/* End Section together */

/* End Section history */


/* Section partners */

.partners {
    margin-top: 80px;
}

.partners img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* End Section partners */

/* Footer */

.footer-top {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    border-bottom: 1px solid #222222;
    padding: 30px 0 20px 0;
}

.footer-top .footer-info {
    margin-bottom: 3px;
    padding-top: 2vh;
}

.footer-info strong {
    color: #fff;
    display: inline;
    font-size: 2vw;
}

.footer-info .nav-link {
    display: inline;
    font-size: 2vw;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;

}

.footer-info .nav-link:hover {
    color: #fff;
    background-size: 100% 2px;
}

.footer-top .footer-info h3 {
    font-size: 2vw;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.footer-top .social-links {
    text-align: center;
    padding-top: 2vh;
}

.footer-top .social-links h3 {
    font-size: 2vw;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.footer-top .social-links a {
    display: inline-block;
    padding-left: 9px;
    text-align: center;
    transition: transform .6s ease;
}

.footer-top .social-links a:hover {
    color: #fff;
    transform: scale(1.30);
}

.footer-top .social-links svg {
    color: #fff;
}

.footer-links ul {
    padding-top: 1vh;
    padding-left: 8vw;
}

.footer-links li {
    padding: 4px 0;
    display: flex;
    align-items: center;
}

.footer-links svg {
    color: #fff;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    transition: transform .6s ease;
}

.footer-links li:nth-child(1) a:hover {
    color: #eb5959;
    transform: scale(1.05);
}

.footer-links li:nth-child(2) a:hover {
    color: #ff903b;
    transform: scale(1.05);
}

.footer-links li:nth-child(3) a:hover {
    color: #ffe53b;
    transform: scale(1.05);
}

.footer-links li:nth-child(4) a:hover {
    color: #48ff3b;
    transform: scale(1.05);
}

.footer-links li:nth-child(5) a:hover {
    color: #33f5ff;
    transform: scale(1.05);
}

.footer-links li:nth-child(6) a:hover {
    color: #2957ff;
    transform: scale(1.05);
}

.footer-links li:nth-child(7) a:hover {
    color: #b152ff;
    transform: scale(1.05);

}

.footer-links li:nth-child(8) a:hover {
    color: #383838;
    transform: scale(1.05);
}

/* End Footer */


/* mobile */

@media (max-width: 1200px) {

    #inter-art-ex {
        font-size: 7vw;
    }

    #cap-left h1 {
        font-size: 13vw;
        margin-left: 5%;
    }

    .navbar-nav .nav-item {
        margin-top: 2vh;
    }

    .d-block {
        font-size: 32vw;
    }

    #cap-right p {
        font-size: 6vw;
    }

    .services .icon-box {
        padding-bottom: 35px;
    }

    #map {
        width: 100%;
    }

    .virtual-detail {
        margin-top: 74px;
        padding-bottom: 20px;
    }

    .footer-top .footer-info h3 {
        font-size: 6vw;
    }

    .footer-info strong {
        font-size: 6vw;
    }

    .footer-info .nav-link {
        font-size: 6vw;
    }

    .footer-top .social-links h3{
        font-size: 6vw;
        padding-top: 2vh;
    }

    .btn-up {
        right: 4%;
        bottom: 20px;
    }

}

/* End mobile */
